<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div id="main">
        <% if (user) { %>
            <h2>Welcome back <%= user.username %></h2>
            <% } %>
        <%- include('partials/posts.ejs') %>
    </div>
</body>
</html>