<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up!</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="main-form">
        <h1>Sign Up</h1>
        <form action="" method="post">
            <label for="firstName">First Name: </label>
            <input type="text" name="firstName" id="firstName" placeholder="John" required>
            <br>
            <label for="lastName">Last Name: </label>
            <input type="text" name="lastName" id="lastName" placeholder="Doe" required>
            <br>
            <label for="username">Username: </label>
            <input type="text" name="username" id="username" placeholder="username" required>
            <br>
            <label for="password">Password: </label>
            <input type="password" name="password" id="password" placeholder="password" required>
            <br>
            <label for="passwordConfirm">Confirm Password: </label>
            <input type="password" name="passwordConfirm" id="passwordConfirm" placeholder="password" required>
            <br>
            <label for="membership">Know the secret membership password? </label>
            <input type="password" name="membership" id="membership">
            <br>
            <label for="isadmin">Are you admin?</label>
            <input type="password" name="isadmin" id="isadmin">
            <br>
            <button class="formBtn">Sign Up</button>
            <br>
            <p>Already signed up? <a href="/log-in">Log in</a></p>
        </form>
    </div>
</body>
</html>